{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["import", "prefer-arrow", "prettier"],
  "ignorePatterns": ["node_modules/**/*", "dist/**/*"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": false,
      "printWidth": 100,
      "trailingComma": "none",
      "arrowParens": "avoid",
      "tabWidth": 2,
      "useTabs": false,
      "bracketSpacing": false,
      "importOrder": ["^[a-zA-Z]", "^[./]"]
    }],
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "no-debugger": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "prefer-promise-reject-errors": "error",
    "prefer-const": ["error", {
      "destructuring": "all",
      "ignoreReadBeforeAssign": false
    }],
    "no-bitwise": "error",
    "@typescript-eslint/no-shadow": "error",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-class-assign": "error",
    "no-cond-assign": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-unused-expressions": "error",
    "arrow-body-style": ["error", "as-needed"],
    "prefer-arrow/prefer-arrow-functions": [
      "error",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "@typescript-eslint/no-var-requires": "error",
    "no-implicit-coercion": ["error", {"boolean": false}],
    "no-param-reassign": ["error", {"props":  true}]
  },
  "overrides": [{
    "files": ["migrations/*.ts"],
    "rules": {
      "prefer-arrow/prefer-arrow-functions": "off"
    }
  }]
}
